{{ $title := .Title }} {{ $url := printf "%s" .Permalink }}

<section class="social">
    <ul class="share-icons">
        <li>
            <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&amp;text={{ .Title }}" target="_blank" rel="noopener" class="share-btn twitter">
                {{ partial "svg/twitter.svg" (dict "class" "widget-social__link-icon") }}
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u{{ .Title }}" target="_blank" rel="noopener" class="share-btn facebook">
                {{ partial "svg/facebook.svg" (dict "class" "widget-social__link-icon") }}
            </a>
        </li>
        <li>
            <a href="http://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener" class="share-btn reddit">
                {{ partial "svg/reddit.svg" (dict "class" "widget-social__link-icon") }}
            </a>
        </li>

    </ul>
</section>