.dark {
    --theme: #1b1f14;
    --entry: #31332e;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.64);
  
    --hljs-bg: #31332e;
    --code-bg: #3c3e37;
    --border: #62675b;
  }

  img[src$='#about'] {
    display: block;
    margin: 0.7rem auto;
    width: 40%;
  }

  pre code {
    overflow-x: auto;
    white-space: pre;
  }