.dark {
    --theme: #1b1f14;
    --entry: #31332e;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.64);
    --hljs-bg: #31332e;
    --code-bg: #3c3e37;
    --border: #62675b;
}

img[src$='#about'] {
    display: block;
    margin: 0.7rem auto;
    width: 40%;
}

pre code {
    overflow-x: scroll;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.social {
    position: relative;
    line-height: 1em;
    text-align: center;
}

ul.share-icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: 1em;
}

ul.share-icons li {
    display: inline-block;
    padding: 0 4px 0 4px;
}

ul.share-icons li:first-child {
    padding-left: 0;
}

ul.share-icons li:last-child {
    padding-right: 0;
}

.share-btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 0.25em;
    width: 5em;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn .widget-social__link-icon {
    margin: auto;
    display: block;
    fill: #e2e2e2;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.twitter:hover {
    background: #4c9ad6;
}